build
coverage
dev
dist
service-account.json

firebase-debug.log*
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
.env
.firebase
.gcloudignore
.idea
.netbeans
.node_history
.runtimeconfig.json
.vscode
